html {

        --navBackgroundColor: #020101;
        --backgroundColor: #020101;
        --primaryColor: #383838;
        /* --strokeColor: #F1F1F1; */
        --buttonPrimaryColor: #FFAD33;
        --buttonSecondaryColor: #FFFFFF;
        --fontColor: #f4f3f3;
        --strokeAltColor: #6D6D6D;
        --moniescolor: #b4b3b3;
        --fontAltColor: #e4e4e4;
        --linearColor: linear-gradient(90deg, #2241b4, #924410);
        /* --navBackgroundColor: #FFFFFF;
        --backgroundColor: #f1f1f0;
        --primaryColor: rgb(255, 255, 255);
        --strokeColor: #F1F1F1;
        --fontColor: #363636;
        --strokeAltColor: #6D6D6D;
        --moniescolor: #797979;
        --fontAltColor: #7c7c7c;
        --linearColor: linear-gradient(90deg, #2241b4, #924410); */
     

}
p{
        color: var(--fontColor);
        font-size: 12px;
}

.mt1 { margin-top: 10px; }
.mt2 { margin-top: 20px; }
.mt3 { margin-top: 30px; }
.mt5 { margin-top: 50px; }
.mb1 { margin-bottom: 10px; }
.mb2 { margin-bottom: 20px; }
.mb5 { margin-bottom: 50px; }
.mr1 { margin-right: 10px; }
.mr2 { margin-right: 20px; }
.mr5 { margin-right: 50px; }
.ml1 { margin-left: 10px; }
.ml2 { margin-left: 20px; }
.ml3 { margin-left: 30px; }
.ml4 { margin-left: 40px; }
.ml5 { margin-left: 50px; }
.ml7 { margin-left: 70px; }


.pt1 { padding-top: 10px; }
.pt2 { padding-top: 20px; }
.pt5 { padding-top: 50px; }
.pb1 { padding-bottom: 10px; }
.pb2 { padding-bottom: 20px; }
.pb5 { padding-bottom: 50px; }
.pr1 { padding-right: 10px; }
.pr2 { padding-right: 20px; }
.pr5 { padding-right: 50px; }
.pl1 { padding-left: 10px; }
.pl2 { padding-left: 20px; }
.pl5 { padding-left: 50px; }

.font9 { font-size: 9px; }
.font12 { font-size: 12px; }
.font14 { font-size: 14px; }
.font16 { font-size: 16px; }
.font18 { font-size: 18px; }
.font21 { font-size: 21px; }
.font24 { font-size: 24px; }
.font36 { font-size: 36px; }
.font42 { font-size: 42px;}

.semi-bold { font-weight: 600;}
.bold { font-weight: 700;}


.flex { display: flex; }
.flex-column { display: flex; flex-direction: column;}
.flex-wrap { flex-wrap: wrap; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-start { justify-content: flex-start; }
.justify-space-between { justify-content: space-between; }
.justify-space-around { justify-content: space-around; }
.align-center { align-items: center; }

.w1 { width: 10vw; }
.w2 { width: 20vw; }
.w3 { width: 30vw; }
.w5 { width: 50px; }
.w6 { width: 60px; }
.w7 { width: 70vw; }

.inline { display: inline; } 
.capitalize { text-transform: capitalize;}

.load-wrapper {
        position: fixed;
        z-index: 4;
        width: 100%;
        top:0;
        left:0;
        height: 100%;
        background-color: var(--backgroundColor);
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
}

.icon-info{
        background-color: rgb(77, 184, 77);
        display: flex;
        width: 75px;
        height: 75px;
    
        border-radius: 100px;
        margin: 0 auto;
        background: #00c52c;
        color: #005f15;
    
        font-size: 30px;
        font-weight: 1000;
        padding: 10px;
    
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
}

.empty-data { color: #515184; }
.bg-success { background-color: #00c52c !important; }
.bg-warning { background-color: #FE9431; }
.bg-danger { background-color: #e42c0b; }

.text-light { color: #f8f9fa ; }
.text-dark { color: #080808 ; }
.text-success { color: #00c52c !important; }
.text-danger { color: #e42c0b;}

.badge {
    display: inline-block;
    padding: 0.4em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
