.dashboard-div{
  background-color: var(--backgroundColor);
}

.monies {
  height: 200px;
  margin: 10px 10px 10px 10px;
  border: 1px solid #312a2a;
  border-radius: 4.88632px;
  background-color: var(--backgroundColor);
}

.personal-savings-tab{
    height: 222px;
    margin: 10px 10px 10px 10px;
    border-radius: 4.88632px;
    border: 1px solid #312a2a;
    background-color: var(--backgroundColor);  
}
.monies-label{
  /* margin-left: -25px; */
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  color: var(--fontAltColor);
}
.savings-tab-label {
    margin-left: 10px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: var(--fontAltColor);
  }
  .dai-label{
    margin-left: 5px;
    color: var(--fontAltColor);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  .dai-stable-coin{
    margin-left: -35px;
    margin-top: 3px;
    font-weight: 500;
    font-size: 10px;
    color: var(--moniescolor);
  }

  .monies-values{
    font-weight: 600;
    font-size: 14px;
    color: var(--moniescolor);
  }
  .savings-tab-values{
    color: var(--moniescolor);
    font-weight: 500;
    font-size: 13px;
  }