.display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.transaction-container{
    background-color: var(--primaryColor);
    padding: 20px;
    border-radius: 7px;
    margin: 10px 10px 30px 10px;
    width: 45%;
}
.card-title {
    font-size: 18px;
    /* margin-bottom: 20px; */
    color: #f3c600;
    font-weight: 600;
    padding-bottom: 5px ;
}
.card-body {
    padding: 5px;
}
.list-unstyled{
    padding-left: 0px;
    list-style: none;
    /* background-color: chartreuse; */
}
.media {
    display: flex;
    /* align-items: flex-start; */
}

.transaction-widget ul li {
    padding: 18px 15px;
    align-items: center;
    border-top: 1px solid var(--backgroundColor);
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.transaction-date{
    color: var(--fontColor);
}
.transaction-address{
    color: var(--fontColor);
    font-weight: 700;
}
span .crypto-icon{
    margin: 0;
}

@media screen and (max-width: 1300px){
    .transaction-container{
        width: 80%;
    }
 
}
@media screen and (max-width: 900px){
    .transaction-container {
        width: 90%;
    }
}
@media screen and (max-width: 800px){
    .transaction-container {
        width: 95%;
    }
    .transaction-address{
        font-size: 14px;
        /* max-width: 0px; */
    }
    .sold-thumb, .badge, span .crypto-icon, .transaction-amount:first-child {
        margin-right: 15px;
    }
    .transaction-amount{
        font-size: 14px;
    }
    .transaction-date{
        font-size: 14px;
    }
    .transaction-widget ul li {
        padding: 18px 5px;
    }


}